#sidebar-wrapper
 ul.sidebar-nav
  if !user
    li
        a(href='/login') Giriş
    li
        a(href='/signup') Hesap Yarat
  else
    p
    li
        a(href='/account') Hesabım
        li.divider
    li
        a(href='/logout') Çıkış
  li
    a(href='#') Muhitini Seç
  li
    a(href='#') Fırsatlara Bak
  li
    a(href='#') Fırsat Tanımla
  li
    a(href='#') İletişim
  li
    a(href='/createProductCampaign') Ürün Kampanyası Yarat
    // /#sidebar-wrapper
    // Page Content