extends layout

block content
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
            h1 Yakınınızdaki Fırsatlar
            p
              | Fırsat 1
              | Fırsat 2
              | Fırsat 3

        // /#page-content-wrapper
  // /#wrapper
  // jQuery

