extends ../layout

block content

  .page-header
    h3 Yakın Esnaflar
  .container-fluid
   table(class=table).table-bordered.table-hover.table-striped.table-condensed
    thead
      tr
       th Esnaf Kod
       th Esnaf Adı
       th İş Alanı
    for jMerchant in sMerchants
     tr
      td #{jMerchant._id}
      td #{jMerchant.merchant_data.merchantName}
      td #{jMerchant.merchant_data.merchantBusinessDomain}
      td
        .button.btn-primary(onclick="location.href = '/updateMerchant?id="+jMerchant._id+"'")
         | Güncelle
      td
        .button.btn-primary(onclick="location.href = '/deleteMerchant?id="+jMerchant._id+"'")
         | Sil

